@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    width: 100%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.header{
    background: #0f018b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    border-bottom: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border: 1px solid #000;
}

.header .logo a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff;
}


.icons{
    display: inline-flex;
    margin-top: -5px;
}

.icons .icon{
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.icons .icon span{
    position: relative;
    height: 35px;
    width: 35px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.icons .icon span i{
    font-size: 14px;
    line-height: 35px;
}

.icons .icon:hover span{
    color: #fff;
}

.icons .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.icons .icon:hover .tooltip{
    top: 60px;
    opacity: 1;
    pointer-events: none;
}

.icons .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.icons .icon:hover span,
.icons .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.icons .facebook:hover span,
.icons .facebook:hover .tooltip,
.icons .facebook:hover .tooltip::before{
    background: #1900ff;
}

.icons .instagram:hover span,
.icons .instagram:hover .tooltip,
.icons .instagram:hover .tooltip::before{
    background: #e02b68;
}

.icons .envelope:hover span,
.icons .envelope:hover .tooltip,
.icons .envelope:hover .tooltip::before{
    background: #b11b1b;
}

.icons .phone:hover span,
.icons .phone:hover .tooltip,
.icons .phone:hover .tooltip::before{
    background: #08af08;
}


@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
}

.back{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(Image/background1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    position: absolute;
    top: 35%;
    left: 7%;
    text-align: start;
}

.content h1{
    color: rgb(241, 239, 239);
    font-size: 3rem;
    text-transform: none;
}

.content h1 span{
    color: #ff7300;
    font-size: 3.3rem;
    text-transform: none;
}

.content p{
    margin-top: 10px;
    color: #fff;
    font-size: 1.6rem;
    text-transform: none;
}

.content button{
    font-size: 22px;
    color: #fff;
    background: #ff7200;
    width: 200px;
    height: 50px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.2);
    display: grid;
    text-transform: none;
    place-content: center;
    transition: 0.2s;
}

#test{
    width: 450px;
    color: #eee;
    font-size: 15px;
    margin-top: 20px;
}

/* Scroll Down */

.intro{
    display: flex;
    height: 30px;
    color: #fff;
    margin-top: 450px;
    align-items: center;
    mix-blend-mode: lighten;
}

.scroll-btn{
    animation: bounce .9s;
    animation-duration: alternate;
    animation-timing-function: cubic-bezier(.5, .05, 1, .5);
    animation-iteration-count: infinite;
}

.intro .scroll-btn img{
    width: 100px;
    height: 100px;
    transform: translate(25%, 0%);
}

.intro .scroll-btn h2{
    font-size: 13px;
    color: #fff;
    transform: translate(0%, 0%);
}

@keyframes bounce {
    from{
        transform:  translate(0, 10px);
        transition: .5s;
    }
    to {
        transform: translate(0, 20px);
    }
}

.products{
    background: url(Image/background2.jpg);
    padding: 20px;
    padding-bottom: 210px;
}

.heading{
    text-align: center;
    color: #1201af;
    font-size: 30px;
    margin-top: 50px;
}

.products .heading span{
    color: #ff7200;
}

/* Select Product Card */

.container {
    display: grid;
    justify-content: center;
    padding: 32px;
    margin-top: -120px;
    transform: translate(-25%, 0%);
}

.select-box {
    display: flex;
    width: 350px;
    flex-direction: column;
}
  
.select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}
  
.selected {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #000;
    border: 3px solid #ff7200;
    position: relative;
    font-size: 15px;
    order: 0;
}
  
.selected::after {
    content: "";
    background: url("Image/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 30px;
    right: 5px;
    top: 5px;
  
    transition: all 0.8s;
}
  
.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    font-size: 13px;
    background: #fff;
    color: #000;
    border: 2px solid #ff7200;
}
  
.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}
  
.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #fff;
    border-radius: 0 8px 8px 0;
}
  
.select-box .options-container::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 0 8px 8px 0;
}
  
.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}
  
.select-box .option:hover {
    background: #eee;
}
  
.select-box label {
    cursor: pointer;
}
  
.select-box .option .radio {
    display: none;
}

/* Checkbox Button */

.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 3px solid #ff7200;
    margin: 20px;
    width: 250px;
    height: 42px;
    border-radius: 8px;
    transform:  translate(145%, 150%);
}

.checkbox-container label{
    cursor: pointer;
    display: flex;
    margin-left: 8px;
    font-size: 13px;
}

.checkbox-container input[type='checkbox']{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: .14em;
    margin-right: .5em;
    border: .05em solid #ff7200;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before{
    background-color: #eee;
}

.checkbox-container input[type='checkbox']:checked + label::before{
    content: '\002714';
    background-color: #ff7200;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Search */

.search{
    margin: auto;
    position: relative;
    top: 0;
    left: 100%;
    width: 210px;
    height: 42px;
    border: 3px solid #ff7200;
    transform:  translate(120%, 295%);
    padding: 8px 10px;
    border-radius: 8px;
}

.search-box{
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search-box input[type="text"]{
    border: none;
    outline: none;
    letter-spacing: 1px;
    height: 20px;
    width: 400px;
    background: none;
}

.search-box button[type="submit"]{
    background: #ff7200;
    color: #0f018b;
    padding: 10px;
    margin-top: -10px;
    margin-left: 70px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}



/* Product Container */

.all-products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    text-align: center;
    width: 240px;
    height: 340px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
    border: 2px solid #ff7200;
}

.product:hover{
    box-shadow: 0 3px 20px rgba(0,0,0,.25);
}


.product img{
    height: 200px;
    margin: 1rem;
    mix-blend-mode: multiply;
    transition: all 0.3s;
}

.product .product-title{
    font-size: 14px;
    color: #8b8c8f;
    font-weight: 400;
}

.product .product-name{
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.product .product-price{
    color: #ff7300;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Out of stock */

.all-products .product h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.all-products .product h1::before{
    content: 'Առկա չէ';
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.1em;
    position: absolute;
    width: 100px;
    height: 30px;
    background: rgb(180, 180, 180);
    color: #392cac;
    transform: rotate(0) translateY(10px) translateX(-69px);
    border-radius: 0 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-products .product h1::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: -1;
}

/* In stock */

.all-products .product h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.all-products .product h2::before{
    content: 'Առկա է';
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    position: absolute;
    width: 100px;
    height: 30px;
    background: #ff7200;
    color: #fff;
    transform: rotate(0) translateY(10px) translateX(-69px);
    border-radius: 0 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.all-products .product h2::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: -1;
}
 
@media (max-width:1160px){
    .select-box{
        width: 210px;
    }
    .selected{
        font-size: 14px;
    }
    .checkbox-container{
        width: 200px;
        margin-left: -50px;
    }
    .search{
        width: 200px;
        margin-left: 10px;
    }
    .search-box button[type="submit"]{
        margin-left: 50px;
    }
}

@media (max-width:1100px){
    .container{
        margin-left: -30px;
    }
}

@media (max-width:1030px){
    .container{
        margin-left: -50px;
    }
}

@media (max-width:1000px){
    .container{
        margin-left: -80px;
    }
}

@media (max-width:912px){
    .content{
        top: 30%;
        left: 5%;
    }
    .content h1{
        font-size: 2.7rem;
    }
    .content h1 span{
        font-size: 3rem;
    }
    .content p{
        font-size: 1.4rem;
    }
    .content button{
        font-size: 15px;
        width: 130px;
        height: 40px;
        margin-top: 30px;
    }
    #test{
        width: 350px;
        font-size: 10px;
    }
    .intro{
        height: 25px;
        margin-top: 500px;
    }
    .intro .scroll-btn img{
        width: 80px;
        height: 80px;
        transform: translate(21%, 0%);
    }
    .intro .scroll-btn h2{
        font-size: 10px;
    }
    .container{
        margin-left: -100px;
    }
}

@media (max-width:865px){
    .container{
        margin-top: 10px;
        margin-left: -120px;
    }
    .search{
        transform: translate(-108%, 20%);
    }
    .search-box button[type="submit"]{
        transform: translate(-130%, 149%);
    }
    .checkbox-container{
        transform: translate(27%, 10%);
        width: 150px;
    }
    .checkbox-container label{
        font-size: 11px;
    }
    .select-box{
        transform: translate(140%, 0%);
    }
}

@media (max-width:800px){
    .container{
        margin-left: -140px;
    }
}

@media (max-width:750px){
    .container{
        margin-left: -160px;
    }
}

@media (max-width:715px){
    .container{
        margin-left: -180px;
    }
}

@media (max-width:650px){
    .container{
        margin-left: -200px;
    }
}

@media (max-width:600px){
    .container{
        margin-left: -220px;
    }
}

@media (max-width:640px){
    .content{
        top: 35%;
        left: 5%;
    }
    .content h1{
        font-size: 2.2rem;
    }
    .content h1 span{
        font-size: 2.5rem;
    }
    .content p{
        font-size: 1.2rem;
    }
    .content button{
        font-size: 15px;
        width: 100px;
        height: 40px;
        margin-top: 20px;
    }
    #test{
        width: 300px;
        font-size: 10px;
    }
    .intro{
        height: 25px;
        margin-top: 470px;
    }
}

@media (max-width:550px){
    .container{
        margin-left: -240px;
    }
}
@media (max-width:500px){
    .container{
        margin-left: -250px;
    }
}
@media (max-width:480px){
    .header .logo a{
        font-size: 15px;
    }
    .intro{
        height: 20px;
        margin-top: 470px;
    }
    .intro .scroll-btn img{
        width: 80px;
        height: 80px;
        transform: translate(5%, 0%);
    }
    .intro .scroll-btn h2{
        font-size: 8px;
    }
}

@media (max-width:450px){
    .container{
        margin-left: -270px;
    }
}

@media (max-width:400px){
    .container{
        margin-left: -280px;
    }
}
@media (max-width:370px){
    .container{
        margin-left: -280px;
    }
}

@media (max-width:360px){
    .content h1{
        color: #fff;
        font-size: 2.5rem;
        margin-top: -70px;
    }
    
    .content p{
        font-size: 1.3rem;
    }
    
    .content .button-btn{
        font-size: 17px;
        width: 100px;
        height: 40px;
        margin-top: 20px;
    }
    .container{
        margin-left: -290px;
    }
}

@media (max-width:350px){
    .container{
        margin-left: -290px;
    }
}

@media (max-width:320px){
    .container{
        margin-left: -300px;
    }
}


/* Back & Next */

.pagination ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
    margin-top: 20px;
}

.pagination ul li{
    color: #ff7200;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots{
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn{
    background: #ff7300;
    color: #fff;
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover{
  color: #fff;
  background: #ff7200;
}

@media (max-width:600px){
    .pagination ul li{
        font-size: 18px;
    }
    .pagination ul li.btn{
        font-size: 14px;
        padding: 0 12px;
    }
    .pagination ul li.numb{
        height: 33px;
        width: 33px;
        line-height: 33px;
    }
}

@media (max-width:520px){
    .pagination ul li{
        font-size: 17px;
    }
    .pagination ul li.btn{
        font-size: 14px;
        padding: 0 12px;
    }
    .pagination ul li.numb{
        height: 34px;
        width: 34px;
        line-height: 34px;
    }
    .pagination ul li.dots{
        font-size: 15px;
    }
}

@media (max-width:490px){
    .pagination ul li{
        font-size: 16px;
    }
    .pagination ul li.btn{
        font-size: 11px;
        padding: 0 10px;
        border-radius: 10%;
    }
    .pagination ul li.numb{
        height: 28px;
        width: 28px;
        line-height: 28px;
    }
    .pagination ul li.dots{
        font-size: 14px;
    }
}

@media (max-width:420px){
    .pagination ul li{
        font-size: 16px;
    }
    .pagination ul li.btn{
        font-size: 11px;
        padding: 0 5px;
        border-radius: 10%;
    }
    .pagination ul li.numb{
        height: 25px;
        width: 25px;
        line-height: 26px;
    }
    .pagination ul li.dots{
        font-size: 8px;
        margin-top: -10px;
    }
}

@media (max-width:375px){
    .pagination ul li{
        font-size: 13px;
    }
    .pagination ul li.btn{
        font-size: 7px;
        border-radius: 10%;
    }
    .pagination ul li.numb{
        height: 25px;
        width: 25px;
        line-height: 25px;
    }
    .pagination ul li.dots{
        font-size: 10px;
        margin: -2px;
        margin-top: -10px;
    }
}

@media (max-width:315px){
    .pagination ul li{
        font-size: 14px;
    }
    .pagination ul li.btn{
        font-size: 7px;
        border-radius: 10%;
    }
    .pagination ul li.numb{
        height: 24px;
        width: 24px;
        line-height: 24px;
    }
    .pagination ul li.dots{
        font-size: 6px;

        margin: -2px;
    }
}

/* footer */

.footer{
    background: #0f018b;
    text-align: center;
    border: 1px solid #000;
}

.footer h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: rgb(230, 230, 230);
    padding: 10px;
    margin-top: 10px;
}

.footer p{
    font-size: 1.6rem;
    color: #ff7200;
}

.wrapper{
    display: inline-flex;
    margin-top: 55px;
}

.wrapper .icon{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon span{
    position: relative;
    height: 50px;
    width: 50px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .icon span i{
    font-size: 20px;
    line-height: 50px;
}

.wrapper .icon:hover span{
    color: #fff;
}

.wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip{
    top: -50px;
    opacity: 1;
    pointer-events: none;
}

.wrapper .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
    background: #1900ff;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background: #e02b68;
}

.wrapper .envelope:hover span,
.wrapper .envelope:hover .tooltip,
.wrapper .envelope:hover .tooltip::before{
    background: #b11b1b;
}

.wrapper .phone:hover span,
.wrapper .phone:hover .tooltip,
.wrapper .phone:hover .tooltip::before{
    background: #08af08;
}

.copyright p{
    padding: 20px;
    color: #fff;
    justify-content: flex-start;
}

@media (max-width:365px){
    .footer .button{
        height: 50px;
        width: 50px;
    }
    .footer .button .icon i{
        font-size: 20px;
        line-height: 50px;
    }
    .copyright p{
        font-size: 13px;
    }
}